#public-profiles {
  color: red;
  font-size: 3rem;
  width: 500px;
  margin: auto;
  
}

.card-container {
  display: flex; /* Use flexbox layout for positioning */
  flex-direction: column; /* Arrange child elements in a vertical column */
  align-items: center; /* Center align items horizontally */
  justify-content: space-between; /* Distribute space evenly between items */
  padding: 20px; /* Add padding inside the card */
  margin: 20px auto;
  border: 1px solid #ccc; /* Add a light gray border around the card */
  border-radius: 5px; /* Round the corners of the border */
  color: white;
  min-width: 250px;
  background-color: rgba(133, 107, 70, 0.5); /* Brown background */
  border: solid rgba(165, 192, 223, 0.9); /* Blue border */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.profile-cards a {
  text-decoration: none;
}

.user-info {
  display: flex; /* Use flexbox layout for positioning */
  flex-direction: column; /* Arrange child elements in a vertical column */
  align-items: center; /* Center align items horizontally */
  justify-content: space-between; /* Distribute space evenly between items */
  padding: 20px; /* Add padding inside the card */
  margin: 20px auto;
  border: 1px solid #ccc; /* Add a light gray border around the card */
  border-radius: 5px; /* Round the corners of the border */
  color: white;
  min-width: 250px;
  background-color: rgba(133, 107, 70, 0.5); /* Brown background */
  border: solid rgba(165, 192, 223, 0.9); /* Blue border */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
